@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}



header {
    background-image: url(/../imgs/header.png);
    background-size: cover;
}

.small-container {
    width: 95%;
    margin: 0 auto;
}
.margin_top_30 {
    margin-top: 30px;
}

.service_blog h3.blog_head {
    float: left;
    background: #9ec12f;
    text-align: center;
    font-size: 24px;
    text-transform: none;
    margin: 0;
    min-height: 50px;
    line-height: 50px;
    padding: 0 50px;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 300px;
    left: 15px;
}

h2 span, h1 span {
    color: #bd8cbf;
}

li {
    list-style-type: none;
}

a:hover {
    text-decoration: none;
}

a, button {
    transition: all .5s ease;
}

button {
    padding: 0
}

body {
    font-size: 1.1rem;
    color:#000;
}




.layout_padding {
    padding: 90px 0;
}

.about_section h3 {
    font-size: 40px;
    margin: 5px 0 25px 0;
    font-weight: 600;
}

.about_section h4 {
    color: #9ec12f;
    font-size: 18px;
    margin: 0;
}

p {
    font-size: 18px;
    font-weight: 300;
}

.full {
    width: 100%;
    float: left;
    margin: 0; 
}

.text_align_center {
    text-align: center;
}

.img-responsive {
    max-width: 100%;
}

.white_font {
    color: #fff !important;
}

.h3, h3 {
    font-size: 40px;
    font-weight: 700;
    color: #3a3a3a;
    text-transform: uppercase;
}   

.contact-form {
    padding: 55px 65px;
    background: #9ec12f;
    min-height: 600px;
    margin-top: 60px;
}

.contact-form form input {
    width: 100%;
    background: #fff;
    border: none;
    height: 60px;
    padding: 0 20px;
    text-transform: uppercase;
    margin: 15px 0;
}

.contact-form form textarea {
    width: 100%;
    background: #fff;
    border: none;
    min-height: 120px;
    padding: 15px 20px;
    text-transform: uppercase;
    margin: 15px 0;
}

.contact-form form input[type="submit"] {
    background: #9ec12f;
    color: #fff;
    width: 190px;
    margin: 15px auto 0;
    font-size: 19px;
    font-weight: 300;
    float: none;
    display: flex;
    cursor: pointer;
}

.contact-form form input[type="submit"]:hover,
.contact-form form input[type="submit"]:focus {
    background: #111;
    color: #fff;
    transition: ease all 0.5s;
}

/* header */

header {
    position: relative;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

header .container {
    height: 100%;
    width: 100%;
}

header .container > div {
    margin: 0 auto;
    position: relative;
/*    text-align: center;*/
}

header .container > div h1 {
    font-size: 90px;
}

header button {
    background-color: transparent;
    display: block;
    border: 1px solid #FFF;
    border-radius: 50px;
    padding: 0;
    margin: 30px auto;
}

header button a {
    padding: 10px 40px;
    display: block;
    color: #000;
}

header button:hover a {
    color: #000;
}

h3.blog_head {
    width: 100%;
    float: left;
    background: #fff;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    color: #090101;
    margin: 0;
    min-height: 75px;
    line-height: 75px;
}

/** about section **/

.about {
    padding: 90px 0;
}

.about .titlepage {
    text-align: center;
}

.about .titlepage p {
    color: #000;
}

.about .about-box figure {
    margin: 0;
}

.about .about-box figure img {
    width: 50%;
}

.about .about-box h3 {
    font-size: 30px;
    line-height: 30px;
    padding: 40px 10px 25px 10px;
    color: #252525;
    display: block;
    font-weight: 500;
}

.about .about-box {
    text-align: center;
    background-color: #fff;
    box-shadow: #ddd 0px 0px 8px 1px;
}

.about .about-box p {
    font-size: 17px;
    line-height: 30px;
    color: #252525;
    padding: 0px 20px 50px 20px;
}

.read_more {
    font-size: 16px;
    background-color: #9ec12f;
    color: #fff;
    padding: 10px 0px;
    width: 100%;
    max-width: 190px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}

.read_more:hover {
    background: #000;
    color: #fff;
}


/* services */

.services {
    margin-bottom: 100px;
    font-family: 'Open Sans', sans-serif;
}

.services .slide {
    width: 70%;
    margin: 0 auto;
}

.services .carousel-inner .carousel-item {
    width: 100%;
    height: 100%
}

.services .carousel-inner img {
    height: 100%;
    width: 100%;
}

.services .carousel-control-next, .services .carousel-control-prev {
    width: 60px;
    height: 60px;
    background: #bd8cbf;
    border-radius: 50%;
}

.services .carousel-control-next i, .services .carousel-control-prev i {
    color: #000
}

.services .carousel-control-next {
    right: 0;
    top: 80%;
    right: 40%;
    background-color: #FFF;
}

.services .carousel-control-prev {
    top: 80%;
    left: 40%;
}

.services i {
    color: #bd8cbf;
}

/* agency */

.agency {
    background-image: url('../imgs/agency.png');
    font-family: 'Open Sans', sans-serif;
    background-size: cover;
}

.agency .container > div {
    margin: 0 auto;
    width: 86%;
    margin-bottom: 30px;
}

.agency .white-overlay {
   padding: 50px 0 20px;
}

.agency .container > div > div {
    display: inline-block;
    position: relative
}

.agency .container > div > div img {
    width: 500px;
    margin: 0 20px;
}

.agency img:first-of-type, .agency img:last-of-type {
    width: 200px;
}

.agency .container > div h2 {
    position: absolute;
    color: white;
    bottom: 105px;
    left: 195px;
    font-size: 40px;
}

/* statistics */

.statistics {
    padding: 50px 0;
    font-family: sans-serif;
}


.statistics i {
    margin-bottom: 10px;
}

.statistics h3 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
}

/* contact */

.contact {
    background-image: url('../imgs/contact.png');
    background-size: cover;
}

.contact h2 {
    color: white;
    margin-bottom: 30px;
}

.contact .contact-form {
    width: 50%;
    margin: 0 auto;
}

.contact form input, .contact form textarea {
    width: 100%;
    outline: none;
    border: none;
    padding: 5px 10px;
}

.contact form input{
    border-radius: 50px;
    margin-bottom: 20px;
}

.contact form textarea {
    resize: none;
    height: 130px;
    border-radius: 25px;
    margin-bottom: 30px;
}

.contact form input[type="submit"] {
    width: 130px;
    height: 40px;
    padding: 0;
    line-height: 40px;
    background-color: #ef44f8;
    color: white;
    margin: 0 auto;
    display: block;
}

/* footer */

footer, footer a {
    color: #000;
}

footer {
    display: block;
    overflow: hidden;
    background-color: #0c2326;
}

footer a:hover {
    color: #9ec12f;
}

footer .container > ul {
    overflow: hidden;
    margin: 30px 0;
    padding-left: 0;
}

footer .container > ul li {
    float: left;
    padding-right: 25px;
}

footer .item h4 {
    margin-bottom: 20px
}

footer .item p.address {
    line-height: 1.2;
    font-size: 16px;
}

footer .item ul {
    padding-left: 0;
}

footer .item ul li {
    margin-bottom: 3px;
    font-size: 16px;
}

footer .date p {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 300;
}

footer .item form {
    overflow: hidden;
}

footer .item form input {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
}

footer .item form input[type="submit"] {
    width: 100px;
    height: 40px;
    line-height: 4px;
    background-color: #ef44f8;
    border: none;
    float: right;
    color: #FFF;
    padding: 0
}

footer .copyright {
    padding: 15px 0;
}

footer .copyright p {
    margin-bottom: 0;
    font-size: 16px;
}



@media (max-width: 992px) {
    
    /* header */
    
    header h1 {
        font-size: 65px !important;
    } 
    
    
    /* statistics */
    
    .statistics .col-lg-3 {
        margin-bottom: 40px
    }
    
    /* contact */
    
    .contact .contact-form {
        max-width: 70%
    }
    
    /* footer */
    
    footer .col-lg-3 {
        margin-bottom: 40px;
    }
    
}

@media (max-width: 768px) {
    
    /* header */
    
    header h1 {
        font-size: 50px !important;
    } 

}



.testimonial_blog {
    background: #0c2326;
    width: 100%;
    padding: 40px 50px;
    box-shadow: 50px 50px 0 0 #9ec12f;
}

.testimonial_blog p {
    color: #fff;
}

.testimonial_blog p + p {
    margin: 0;
}

.testimonial_blog p:first-child {
    font-size: 30px;
    font-weight: 500;
}



footer .item p img {
    position: absolute;
    left: 0;
    top: 5px;
}

footer .item p {
    position: relative;
    padding-left: 25px;
    font-size: 16px;
    margin: 0 0 10px 0;
}

footer .copyright {
    padding: 15px 0 16px;
    border-top: solid #9ec12f 1px;
    margin-top: 30px;
}

footer .item p strong {
    font-weight: 700;
    margin-bottom: 5px;
    float: left;
    width: 100%;
}

footer {
    display: block;
    overflow: hidden;
    background-color: #fff;
    padding: 30px 0 0; 
   
}

.cpy {
    margin: 0;
    padding: 0;
}

footer .item h4 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}



@media (max-width: 768px) {


    .h3, h3 {
        font-size: 30px;
    }


    h3.blog_head {
        width: 100%;
        float: left;
        background: #fff;
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        color: #090101;
        margin: 0;
        min-height: 50px;
        line-height: 50px;
    }

    .service_blog h3.blog_head {
        float: left;
        background: #9ec12f;
        text-align: center;
        font-size: 18px;
        text-transform: none;
        margin: 0;
        min-height: 50px;
        line-height: 50px;
        padding: 0 20px;
        color: #fff;
        position: absolute;
        bottom: 0;
        width: 65%;
        max-width: 300px;
        left: 15px;
        font-weight: 500;
    }



    .contact-form {
        padding: 40px 50px;
        background: #9ec12f;
        min-height: 600px;
        margin-top: 60px;
    }

    .service_blog img {
        width: 100%;
    }

    }

    @media (max-width: 767px) {

    .layout_padding {
        padding: 50px 0;
    }

    .about_section h3 {
        font-size: 30px;
        margin: 10px 0 25px 0;
        font-weight: 700;
        line-height: 32px;
    }

    .h3, h3 {
        font-size: 30px;
        font-weight: 700;
        color: #3a3a3a;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    h3.blog_head {
        width: 100%;
        float: left;
        background: #fff;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        color: #090101;
        margin: 0;
        min-height: 55px;
        line-height: 55px;
    }

    .service_blog h3.blog_head {
        float: left;
        background: #9ec12f;
        text-align: center;
        font-size: 22px;
        text-transform: none;
        margin: 0;
        min-height: 50px;
        line-height: 50px;
        padding: 0 40px;
        color: #fff;
        position: absolute;
        bottom: 0;
        width: 70%;
        max-width: 300px;
        left: 15px;
    }

    .contact-form {
        padding: 35px 40px;
        background: #9ec12f;
        min-height: 600px;
        margin-top: 20px;
    }

    .contact-form form input {
        margin: 10px 0;
    }

    #contact img {
        margin-top: 30px;
    }

    .testimonial_blog {
        background: #0c2326;
        width: 100%;
        padding: 30px 30px;
        box-shadow: 10px 10px 0 0 #9ec12f;
    }

    .testimonial_blog p:first-child {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    p {
        font-size: 17px;
        font-weight: 300;
    }

    .subcribe form {
        height: auto;
        background: #fff;
        margin-top: 20px;
        padding: 0;
        font-weight: 300;
        font-size: 19px;
        display: block;
    }

    .subcribe form input {
        margin: 0;
        padding: 20px 30px;
        width: 100%;
        border: none;
        font-size: 20px;
        font-weight: 300;
    }

    .subcribe form button {
        background: #9ec12f;
        color: #fff;
        width: 100%;
        border: none;
        font-size: 20px;
        padding: 12px 0;
    }

    .subcribe form button:hover,
    .subcribe form button:focus {
        background: #111;
        color: #fff;
    }

    .service_blog img {
        width: 100%;
    }

}


.logoo{
    max-width: 57%;
    max-height: 50%;
    background-color: #FFF;
    display:flex;
    position: relative;
    float:left;
    left: 0;
    top:0;
   
}

.log1{
    max-width: 100%;
    max-height: auto;
    display: flex;
    position: relative;
    float: left;
}
.log{
    max-width: 60%;
    max-height: auto;
    
}
@media (max-width: 768px) {
    .cent{
        display: block;
        justify-content: center;
        align-items: center;
    }
    .item2{
        text-align:center;    
    }
    .item3{
        text-align:center;
            
    }
    .log{
        max-width: 250px;
        height: auto;
    }
    .logoo{
        max-width: 250px;
        height: auto;
        background-color: #FFF;
        display:flex;
        position: relative;
        float:left;
         
    }
}

.imga{
    justify-content: center;
    align-items: center;
    width: 275px;
    height: auto;
}
.tabl{
    justify-content: center;
    align-items: center;
    height: max-content;
}

.modal-open {
overflow: hidden;
}

.modal-open .modal {
overflow-x: hidden;
overflow-y: auto;
}

.modal {
position: fixed;
top: 0;
left: 0;
z-index: 1050;
display: none;
width: 100%;
height: 100%;
overflow: hidden;
outline: 0;
}

.modal-dialog {
position: relative;
width: auto;
margin: 0.5rem;
pointer-events: none;
}

.modal.fade .modal-dialog {
transition: transform 0.3s ease-out;
transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
.modal.fade .modal-dialog {
    transition: none;
}
}

.modal.show .modal-dialog {
transform: none;
}

.modal.modal-static .modal-dialog {
transform: scale(1.02);
}

.modal-dialog-scrollable {
display: flex;
max-height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-content {
max-height: calc(100vh - 1rem);
overflow: hidden;
}

.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-footer {
flex-shrink: 0;
}

.modal-dialog-scrollable .modal-body {
overflow-y: auto;
}

.modal-dialog-centered {
display: flex;
align-items: center;
min-height: calc(100% - 1rem);
}

.modal-dialog-centered::before {
display: block;
height: calc(100vh - 1rem);
height: min-content;
content: "";
}

.modal-dialog-centered.modal-dialog-scrollable {
flex-direction: column;
justify-content: center;
height: 100%;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
max-height: none;
}

.modal-dialog-centered.modal-dialog-scrollable::before {
content: none;
}

.modal-content {
position: relative;
display: flex;
flex-direction: column;
width: 100%;
pointer-events: auto;
background-color: #fff;
background-clip: padding-box;
border: 2px solid rgba(0, 0, 0, 0.2);
outline: 0;
}

.modal-backdrop {
position: fixed;
top: 0;
left: 0;
z-index: 1040;
width: 100vw;
height: 100vh;
background-color: #000;
}

.modal-backdrop.fade {
opacity: 0;
}

.modal-backdrop.show {
opacity: 0.5;
}

.modal-header {
display: flex;
align-items: flex-start;
justify-content: space-between;
padding: 1rem 1rem;
border-bottom: 2px solid #dee2e6;
}

.modal-header .close {
padding: 1rem 1rem;
margin: -1rem -1rem -1rem auto;
}

.modal-title {
margin-bottom: 0;
line-height: 1.5;
}

.modal-body {
position: relative;
flex: 1 1 auto;
padding: 1rem;
}

.modal-footer {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: flex-end;
padding: 0.75rem;
border-top: 2px solid #dee2e6;
}

.modal-footer > * {
margin: 0.25rem;
}

.modal-scrollbar-measure {
position: absolute;
top: -9999px;
width: 50px;
height: 50px;
overflow: scroll;
}

@media (min-width: 576px) {
.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}
.modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);
}
.modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem);
}
.modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
}
.modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
    height: min-content;
}
.modal-sm {
    max-width: 300px;
}
}

@media (min-width: 992px) {
.modal-lg,
.modal-xl {
    max-width: 800px;
}
}

@media (min-width: 1200px) {
.modal-xl {
    max-width: 1140px;
}
}

#progress{
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.9s ease 0.5s;
}
#progress:after{
    display: grid;
}
#progress-value{
    display: block;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    background-color:#fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    right: 1vw;
    transition: all 0.9s ease 0.5s;
}

.bg-cert{
    color: #000;
    background: white;
}

.text-gree{
    color: #9ec12f !important;
}

.section-titl{margin-bottom:30px;padding-bottom:20px}
.section-titl::before{position:absolute;content:"";width:150px;height:2px;bottom:12px;left:calc(50% - 75px);background:#9ec12f}
.section-titl::after{position:absolute;content:"";width:120px;height:2px;bottom:8px;left:calc(50% - 60px);background:#9ec12f}

/*contact*/

.contact_taital {
    width: 100%;
    font-size: 40px;
    color: #9ec12f;
    padding-top: 50px;
}

.contact_section {
    width: 100%;
    padding-top: 30px;
}

.contact_main {
    width: 100%;
    float: left;
}

.form-group {
    margin-bottom: 30px;
}

.email-bt {
    color: #292929;
    width: 100%;
    height: 55px;
    font-size: 18px;
    padding: 20px;
    background-color: #fefeff;
    border: 0px;
    border-radius: 30px;
}

.massage-bt {
    color: #292929;
    width: 100%;
    height: 110px;
    font-size: 18px;
    padding: 40px 20px 10px;
    background-color: #fefeff;
    border: 0px;
    border-radius: 30px;
}

.send_btn {
    width: 170px;
    text-align: center;
    margin: 0px auto;
}

.send_btn a {
    width: 100%;
    float: left;
    color: #000;
    font-size: 18px;
    padding: 10px 0px;
    background-color: #E8C896;
    border-radius: 30px;
}

.send_btn a:hover {
    color: #000;
    background-color: #ffffff;
}

/*Botones */
.boton{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    display: inline-block;
    margin-top: 3rem;
    text-align: center;
    border: none;
    display: block;
    flex:0 0 100%;
    }
@media(min-width:768px){
    .boton{
        display: inline-block;
        flex:0 0 auto;
    }
}
.boton:hover{
    cursor: pointer;
    color: #000;
    background: #E8C896;
}

.boton-verde{
background: #9ec12f;
border-radius: 10px;
max-width: max-content;
margin: 1rem;
}
.ver-todas{
    display: flex;
    justify-content: flex-end;
    margin-right: 8vw;
}

.call_text {
    width: 100%;
    float: left;
}

.call_text ul {
    margin: 0px;
    padding: 0px;
}

.call_text li {
    float: left;
    font-size: 18px;
    color: #ffffff;
    padding-left: 35px;
}

.call_text li a {
    color: #ffffff;
}

.call_text li a:hover {
    color: #000;
}

/* nav*/
/** sticky header **/

.header_section {
    width: 100%;
    
    background-color: transparent;
    /*background-image: url(../imgs/gmbalsa.png);*/
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

#navbar {
    overflow: hidden;
    background-color: #fff;
    color: #000 !important;
}

#navbar a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar li a:hover {
    color: #fff;
    background-color: #9ec12f;
}

#navbar a img:hover {
    background-color: #fff !important;
}

#navbar a.active {
    color: #9ec12f;
}

#navbar li.active a {
    color: #ffff;
}
.content {
    padding: 16px;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

.fix-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
}

.sticky+.content {
    padding-top: 60px;
}

.padding_top_90{
    padding-top: 70px;
}
.navbar-form input {
    border: none !important;
}
.navbar-expand-lg .navbar-nav {
    background-color: #000 !important;
    color: #9ec12f;
    display: none;
}


.header_section.header_bg .navbar-expand-lg .navbar-nav {
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-right: auto;
    text-align: center;
    display: block;
    display: flex;
}
.navbar-nav .nav-link {
    font-size: 18px;
    color: #000 !important;
    text-transform: uppercase;
    padding-right: 15px !important;
    padding-left: 15px !important;
    align-items: center;
    
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #000 !important;
    background: #9ec12f;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #000 !important;
    background: #9ec12f;
}

.navbar {
    padding: .5rem 40px;
    margin-top: auto;
}

.logo {
    display: none;
}

.logo2 {
    display: block;
    max-width: 150px;
}

@media(max-width: 768px){ 
    .logo {
        width: 15%;
        float: left;
        display: flex;
    }
    .logo2 {
        display: none;
        background: #fff;
    }
    
}
.header_section.header_bg .bg-light {
    background-color: #9ec12f !important;
}

.wine_section::after {
    display: none;
}

.header_section.header_bg .main {
    color: #000 !important;
    display: block;
}
.costum_menu {
    width: 73%;
    margin: 0 auto;
    text-align: center;
    color: #000 !important;
}

.costum_menu ul {
    margin: 0px;
    padding: 0px;
}

.costum_menu li {
    float: left;
    font-size: 18px;
    color: #000;
    padding-left: 30px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.costum_menu li a {
    color: #000;
}

.costum_menu li a:hover {
    color: #9ec12f;
}

.costum_menu li.active a {
    color: #000;
    background-color: #9ec12f;
}

.banner_section {
    width: 100%;
    float: left;
}
.menu_main {
    padding-inline: 15rem;
    width: 100%;
    
}